<ion-view view-title="USER MASHUP" name="login-view">
  <ion-header-bar class="bar-stable">
<div class="bar bar-header bar-dark">
   <button class="button icon ion-navicon"></button>
      
   <button class="button icon ion-home"></button>
</div>
  </ion-header-bar>
  <ion-content class="padding">


</style
<span style="padding: 0 100px">&nbsp;</span>

     

 <h1 style=  "text-align:center" class="form-signin-heading">ConvertME</h1>
    <h1 style=  "text-align:center" class="form-signin-heading">Converts weight from pounds to kgs</h1>
	<div class="hero" ng-controller="HeroCtrl" ng-style="heroImage"></div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" id="username" class="form-control" placeholder="Enter weight in pounds" required autofocus ng-model="username">
      </label>
      
    </div>
    <button  class="button button-block button-energized padding-horizontal" ng_click="login(username,password)" type="submit">Convert to Kgs</button>
   	  <button class="button button-block button-assertive padding-horizontal" ng_click="#register" type="submit">Translate to other Language</button>

      </h4>

      <div id="x"></div>
 

 </ion-content>
</ion-view>